@using System.ComponentModel.DataAnnotations
@inject NavigationManager Nav

<MudGrid>
    <MudItem xs="12">
        <MudForm @ref="_form">
            <MudCard Elevation="0">
                <MudCardContent>
                    <MudTextField @bind-Value="Username" For="@(() => Username)"
                                  Variant="Variant.Outlined"
                                  Label="Choose username" 
                                  HelperText="Max. 8 characters"/>
                    <MudTextField @bind-Value="Email" For="@(() => Email)"
                                  Label="Email" 
                                  HelperText="Example: john@email.com"
                                  Variant="Variant.Outlined"
                                  Class="mt-3"/>
                    <MudTextField @bind-Value="Password" For="@(() => Password)"
                                  Label="Password" 
                                  Variant="Variant.Outlined" 
                                  HelperText="Choose a strong password"
                                  InputType="InputType.Password"
                                  Class="mt-3"/>
                    <MudTextField @bind-Value="ConfirmPassword" For="@(() => ConfirmPassword)"
                                  Label="Confirm Password" 
                                  Variant="Variant.Outlined" 
                                  HelperText="Repeat the password" 
                                  InputType="InputType.Password"
                                  Class="mt-3"/>
                </MudCardContent>
                <MudCardActions Class="justify-center">
                    <div>
                        <MudButton OnClick="@(RegisterUser)" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>    
                    </div>
                </MudCardActions>
            </MudCard>
        </MudForm>
    </MudItem>
</MudGrid>

@code {
    bool _success;
    MudForm? _form;
    
    public string? Username { get; set; }
    public string? Email { get; set; }
    public string? Password { get; set; }
    public string? ConfirmPassword { get; set; }

    public void RegisterUser()
    {
        Nav.NavigateTo("/profile");
    }

}